<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head ('Create Post')"></head>
<body>
<nav th:replace="/fragments/fragment :: navbar"></nav>
<form th:action="@{/posts/create}" th:method="post" th:object="${post}" >
    <label for="title">Title: </label>
    <input type="text" th:field="*{title}" name="title" id="title" placeholder="Title your post">
    <label for="body">Body: </label>
    <textarea th:field="*{body}" name="body" id="body" placeholder="The body of your post"></textarea>
    <input type="hidden" th:field="*{id}">
    <input type="submit" value="Create">
</form>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>