<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head ('${post.title}')"></head>
<body>
<nav th:replace="/fragments/fragment :: navbar"></nav>
<h2 th:text="${post.title}">Post Title</h2>
<p th:text="${post.body}">Post Body</p>
<p>Contact poster at: <span th:text="${post.getUser().getEmail()}">E-mail</span></p>
<a th:href="@{/posts/{id}/edit (id=${post.id})}"><button>Edit</button></a>
<form th:action="@{/posts/{id}/delete (id=${post.id})}" th:method="post" th:object="${post}">
    <input type="hidden" th:field="*{id}">
    <button type="submit">Delete</button>
</form>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>